.hide {display: none !important}
.success {color: forestgreen; font-weight: bold; margin: 1em}
.error {color: crimson; font-weight: bold; margin: 1em}
body.options {min-height: 10rem}  /* vertical space for select dropdowns */
form {border: none}
form input {margin-bottom: .5em}
form input.large {box-sizing: border-box; width: 100%}
form > div, button + button {margin-top: .5em}
form.query p {white-space: pre}
form input[type="checkbox"] {margin-left: 0}
input[type="checkbox"] + label {position: relative; top: -2px}
button {width: 100%; text-align: center}
button.inline {width: auto}
body.dialog {display: grid; align-content: center; justify-content: center; width: 100vw; height: 100vh; margin: 0}
body.dialog p {margin-block-start: 0; text-align: center; padding: 0 1em}
div.report {display: grid; grid-template-columns: max-content max-content; justify-content: center; align-items: center; column-gap: 1em}
#spinner {border: 0.4rem solid lightgrey; border-top: 0.4rem solid dimgrey; border-radius: 50%; width: 0.8rem; height: 0.8rem; animation: spin 2s linear infinite}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
